<#@ template language="C#" debug="true" hostspecific="true"#>
<#@ include file="..\T4\t4settings.ttinclude"#>
<#
apiPackageName="example"; 
apiVersion = "1.0";

Core.MapUID = new Dictionary<string,Mapped>() {
	{"OID", new Mapped { MapTo="OUID", MapToName="ouid", Schema="common", Table="OrgUnit"} },
	{"UserID", new Mapped { MapTo="UserUID", Schema="common", Table="User"} },
	{"PersonID", new Mapped { MapTo="PersonUID", Schema="common", Table="Person"} }
};

#>
<#@ include file="..\T4\t4generate.ttinclude"#>