<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="Verbosity" value="detailed" />
  </config>
  <apikeys>
    <add key="http://git.civic360.com" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA+MHbowY/BEiQK3RooNkJAwAAAAACAAAAAAADZgAAwAAAABAAAAB7AxAfTzn+m5nx+ie58QJGAAAAAASAAACgAAAAEAAAAOwyamo5Ho7WMxfRNN8lU4koAAAA8oDBKrXw5mRJrDUMNcYGfyfDPZl+gkLC71RpHalM3RnicD7pVkTDSBQAAACu7kNguZMkE+lZ2iOrp2WxnDhCUw==" />
  </apikeys>
</configuration>