<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="http://nuget.civic360.com" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="https://nuget.org/api/v2/" value="https://nuget.org/api/v2/" />
    <add key="Internal" value="http://nuget.civic360.com" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <Internal>
      <add key="Username" value="civicinc\dotyc" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA+MHbowY/BEiQK3RooNkJAwAAAAACAAAAAAADZgAAwAAAABAAAABK0agvbxjTurGMYg5r+zjwAAAAAASAAACgAAAAEAAAAML2xUxvAfFkzsCoX3YRTcAQAAAAW7RMHZHh2Jr6RgJqzzSKURQAAADNc88vmOfazvlv4QIscJ8jzfl9dQ==" />
    </Internal>
  </packageSourceCredentials>
  <apikeys>
    <add key="http://nuget.civic360.com" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA+MHbowY/BEiQK3RooNkJAwAAAAACAAAAAAADZgAAwAAAABAAAAAJWD0jjAhLombIB9BiVcgLAAAAAASAAACgAAAAEAAAAHYqE0noVcHibB/64ssvx+AoAAAAQ5mleR+GRdElWt4+RCNRVP41gGC6YYxlrJ7pxuE9FuwVujOJ4fCP5hQAAABSxjXtKK+VopnVC+ykFGF/VPf1Zw==" />
  </apikeys>
</configuration>