<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Civic.Core.Caching" version="1.18.276" targetFramework="net461" />
  <package id="Civic.Core.Configuration" version="1.18.276" targetFramework="net461" />
  <package id="Civic.Core.Data" version="1.18.276" targetFramework="net461" />
  <package id="Civic.Core.Logging" version="1.18.276" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net45" />
</packages>